<% if(typeof questions!='undefined'){%>
    <% questions.forEach(question=>{%>
        <div class="card">
            <div class="card-body">
              <p class="card-text"><%=question.text%></p>
              <h6 class="card-text"><%=question.created%></h6>
              <p class="card-text" style="font-style: italic;"></p>
              <div class="buttonGroup" style="display: flex;">
                <a href="/teacher/questions/<%=question.id%>" class="btn btn-primary">View More</a>
                
              </div>
              
            </div>
          </div>          
    
<%})}%>