<div class="container-fluid">
  <div class="card card-body text-center custom-card">
    <h1 class="text-center mb-3">Sawal Jawab</h1>
    <h6>Get your queries answered by educators</h6>

    <div style="display: flex; justify-content: center;" class="image">
        <img style="width: 300px; height: 300px;" src="/images/intro.png"/>
    </div>
  

    <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block"
        >Register</a
      >
      <br/>
      <a href="/users/login" class="btn btn-success btn-block">Login</a>


</div>
</div>
