<%- include('tnavbar') %>
<%- include('./../partials/errorMsg')%>
<h3 class="card-text">Most Popular Questions</h3>
<%- include('./../partials/tquestions',{
    user:user,
    questions:questions
})%>
