<%- include('./snavbar')%>
<form method="post" action="/student/addQuestion">
    <h3 class="text-center mb-3">Submit your Question</h3>
    <div class="form-group">
      <label for="question">Question</label>
      <textarea
      class="form-control" 
      id="question" 
      name="question"
      rows="3"
      required="required"
      type="text"
      value="<%= typeof question!='undefined'?question:''%>"
      ></textarea>
    </div>
    <br/>
    <button class="btn btn-primary" type="submit">Submit Question</button>
  </form>