<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="/student/dashboard" style="margin-left: 1rem;">Welcome!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: flex; justify-content: end; font-weight: bold; padding: 0.25rem;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/student/dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/student/askQuestion">Ask Question <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/student/profile">Profile <span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <form class="form-inline" style="display: flex;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
      </form>
      <a href="/users/logout" class="btn btn-danger">Logout</a>
    </div>
  </nav>
  <br/>